body {
  padding: 0;
  margin: 0;
  font-family: 'Jura', sans-serif;
}
h1 {
  text-align: center;
  color: #fff;
  font-weight: 200;
  font-size: 45px;
  position: relative;
  margin: 70px 0;
  text-shadow: 1px 1px 2px black, 0 0 1em yellow;
}
p {
  position: relative;
  color: #fff;
  font-size: 2em;
  font-style: italic;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}
header {
  position: relative;
  height: 100vh;
}
.video-container,
.video-container-1,
.video-container-2,
.video-container-3 {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container-1 {
  top: 100%;
}
.video-container-2 {
  top: 200%;
}
.video-container-3 {
  top: 300%;
}
.video-container .poster img,
.video-container-1 .poster img,
.video-container-2 .poster img,
.video-container-3 .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter,
.video-container-1 .filter,
.video-container-2 .filter,
.video-container-3 .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container video,
.video-container-1 video,
.video-container-2 video,
.video-container-3 video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth,
.video-container-1 video.fillWidth,
.video-container-2 video.fillWidth,
.video-container-3 video.fillWidth {
  width: 100%;
}
.text-left {
  display: block;
  text-align: left;
}
.text-right {
  display: block;
  text-align: right;
}
.text-center {
  display: block;
  text-align: center;
}
.text-center p {
  font-size: 2.5em;
  margin-top: -30px;
}
img {
  display: block;
  margin: 0 auto;
}
.content-4 {
  background-image: url("../img/last.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 400%;
}
.content-4 img {
  width: 240px;
}
.button {
  border-radius: 45px;
  background-color: #b30723;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 200;
  margin: 25px auto 0;
  display: block;
}
.button:hover {
  background-color: #fff;
  color: #b30723;
}
a:hover {
  text-decoration: none;
}
#but-4 {
  margin-top: 170px;
}
